spring:
  profiles:
    active: dev

  thymeleaf:
    prefix: classpath:/templates/
    suffix: .html
    mode: HTML
    cache: false

  jpa:
    properties:
      hibernate:
        default_batch_fetch_size: 100

scheduler:
  matching:
    timeout-cron: "0 * * * * *" # 매 1분마다 스케줄러 실행
