spring:
  profiles:
    active: dev

  thymeleaf:
    prefix: classpath:/templates/
    suffix: .html
    mode: HTML
    cache: false

  jpa:
    properties:
      hibernate:
        default_batch_fetch_size: 100
