<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{common/layout/base}">
<body>

<main class="container layout" layout:fragment="content">

  <div th:replace="~{common/fragments/sidebar :: sidebar('dashboard')}"></div>

  <section class="content">
    <div layout:fragment="page"></div>
  </section>

</main>

<div layout:fragment="footer">
  <div th:replace="~{common/fragments/footer :: footerSimple()}"></div>
</div>

</body>
</html>
